* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
}

body {
  margin: auto;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 3px;
  padding: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: .25rem 0 0.25rem 0;
  border-radius: 3px;
}

input[type="text"]:valid,
input[type="email"]:valid {
  border: 2px solid green;
}

input[type="text"].error,
input[type="email"].error {
  border: 2px solid red;
}

.home {
  display: flex;
  gap: 1rem;
}

#submit {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.5rem;
}

.requiredErrorMsg {
  color: red;
  font-size: .75rem;
  padding: 0 0 .5rem 0;
  display: inline;
  visibility: hidden;
}

.showRequiredErrorMsg {
  visibility: visible;
}